<br />


<mat-form-field style="width:100%" >
    <mat-label>CLIENTE: </mat-label>
    <input type="text" placeholder="Escoger Uno" aria-label="Number" matInput [formControl]="customerFilterControl"
        [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="setActiveClient($event.option.value)"  >
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option.apellidos +" "+option.nombres}}
        </mat-option>
    </mat-autocomplete>
    <mat-icon matSuffix 
    *ngIf="customerFilterControl.value"
    (click)="clearActiveClient({})">
close
</mat-icon>
</mat-form-field>
