<form [formGroup]="form" (submit)="actualizarProducto()" class="form">
    <mat-card *ngIf="currentProducto">
        <mat-card-header>Productos</mat-card-header>
        <mat-card-content>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Nombre Producto" name="nombre" type="text" formControlName="nombre">
                        </mat-form-field>
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Precio Unitario Producto" name="precioUnitario" type="number" formControlName="precioUnitario">
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions align="end">
            <button [disabled]="form.invalid" type="submit"  mat-button>Guardar</button>
        </mat-card-actions>
        <p>{{message}}</p>
    </mat-card>
    <mat-card *ngIf="!currentProducto">
          <p>Cannot acess this product!!!</p>
    </mat-card>

</form>