<mat-card appearance="outlined">

    <mat-card appearance="outlined">
      <mat-card-title>Lista de Clientes</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
      <mat-card-actions aling="start">
        <div class="container">
        <div class="row">          
          <div class="col-md-6">
            <input type="text" class="form-control" placeholder="Busca por identificacion" [(ngModel)]="identification" />
          </div>
          <div class="col-md-3">
            <button class="btn btn-info text-white btn-block btn-sm w-100"  (click)="agregarClientes()" >Nuevo</button>
          </div>
          <div class="col-md-3">
            <button class="btn btn-secondary btn-sm w-100" type="button" (click)="searchIdentification()">
              Buscar
            </button>
          </div>
        </div>
      </div>
      </mat-card-actions>


    </mat-card>


<mat-card appearance="outlined">
  <div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <div class="input-group-append">
      
        </div>
        <div class="form-group">
          <label for="file">Importar desde Excel</label>
          <input type="file" id="file" class="file-input" accept=".xlsx" (change)="onFileSelected($event)" />
      </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="mat-elevation-z8">
        <table class="table">
          <thead>
            <tr>
              <th>nombres</th>
              <th>apellidos</th>
              <th>direccion</th>
              <th>telefono</th>
              <th>identificacion</th>
              <th>email</th>
              <!-- <th>acciones</th> -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let client of clients; let i = index" [class.active]="i == currentIndex"
            (click)="setActiveClient(client, i)">
              <td> {{ client.nombres }}</td>
              <td> {{ client.apellidos }}</td>
              <td> {{ client.direccion }}</td>
              <td> {{ client.telefono }}</td>
              <td> {{ client.identificacion }}</td>
              <td> {{ client.email }}</td>
              <td> 
            <!-- <a *ngIf="showEditButton" class="m-3 btn btn-sm btn-warning"  (click)="setActiveClient(client, i)" routerLink="/clients/{{ client.clienteId }}">
                Edit
              </a> -->
            </td>
              <!-- <td> {{ client.persona.edad }}</td> -->
            </tr>
  
          </tbody>
        </table>
      </div>
  
  
    </div>
    <div class="col-md-4">
      <div *ngIf="currentClient">
        <h4>Client selected</h4>
        <div>
          <label><strong>Nombre:</strong></label> {{ currentClient.nombres }}
        </div>
        <div>
          <label><strong>Telefono:</strong></label>
          {{ currentClient.telefono }}
        </div>
        <!-- <div>
            <label><strong>Status:</strong></label>
            {{ currentClient.estado ? "Published" : "Pending" }}
          </div> -->
        <a *ngIf="showEditButton" class="m-3 btn btn-sm btn-warning" routerLink="/addClient/{{ currentClient.idCliente }}">
          Edit
        </a>
      </div>
      <div *ngIf="!currentClient">
        <br />
        <p>Please click on a Client...</p>
      </div>
    </div>
  </div>

</div>
</mat-card>


</mat-card>

