

<h4 class="title-page" >Clientes</h4>
<div class="header-screen">
  <mat-form-field class="filter">
    <input matInput (keyup)="applyFilter($event)" placeholder="Filtro" [(ngModel)]="filterValue">

    <button matSuffix mat-icon-button aria-label="Clear" (click)="clearFilterValue()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <button mat-raised-button color="primary" 
         aria-label="Nuevo Cliente" 
        (click)="new()">
    <mat-icon>add</mat-icon> Nuevo
  </button>
</div>


<div class="example-container">

  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container [matColumnDef]="col.key" *ngFor="let col of columnsSchema">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{col.label}}
      </th>
      <td mat-cell *matCellDef="let element">
        <div [ngSwitch]="col.type">
          <div class="btn-edit" *ngSwitchCase="'none'">
            <button mat-button [matMenuTriggerFor]="menu"> <mat-icon>add</mat-icon>Más Acciones</button>
            <mat-menu #menu="matMenu">

              <!-- <button mat-menu-item (click)="openDialogPresupuestodelCliente(element)">
                <mat-icon>shield</mat-icon>Presupuestos</button>

              <button mat-menu-item (click)="openDialogPagosdelCliente(element)">
                <mat-icon>calculate</mat-icon>Pagos</button> -->

              <button mat-menu-item (click)="openEditClient(element)"> 
                Editar<mat-icon>edit</mat-icon>  </button>
              <button mat-menu-item (click)="deleteClient(element)" color="warn" aria-label="Delete">Eliminar
                <mat-icon>delete</mat-icon>
              </button>
            </mat-menu>

          </div>
          <span *ngSwitchDefault>
            {{element[col.key]}}
          </span>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[50, 100]"></mat-paginator>
</div>

