.splitingresosegresos{
    display: flex;
    column-gap: 2rem;
}

.entradaTitle{
    display: flex;
    justify-content: space-between;
}

.salidaTitle{
    display: flex;
    justify-content: space-between;
}

h3{
    font-weight: 900;
}