
<h1 mat-dialog-title>Productos</h1>
<mat-dialog-content> <!-- instead of your <div>  or use <div mat-dialog-content> -->



    <form #form="ngForm" class="form-datos" [formGroup]="addProductForm" >
      <mat-form-field class="input-data">
        <input  type="text" matInput placeholder="Nombre" formControlName="nombre" required="true">
    </mat-form-field>

    <mat-form-field class="input-data">
        <input type="number" matInput placeholder="Valor" formControlName="precioUnitario" required="true">
    </mat-form-field>

    <mat-form-field class="input-data">
        <input type="number" matInput placeholder="Valor Compra" formControlName="precioCompra"
            required="false">
    </mat-form-field>

    <mat-card-actions style="text-align: center;">

      <button mat-raised-button type="submit" color="primary" class="Update-btn"
          (click)="producto.idProducto ?  onUpdateClient():onAddClient()"> {{producto.idProducto ? 'Actualizar':'Guardar'}}
      </button>

      <button mat-raised-button type="button" class="Discard-btn" (click)="openDialog()">Cancelar</button>
  </mat-card-actions>
    </form>


  </mat-dialog-content> <!-- instead of your </div> -->
