<mat-card appearance="outlined">
    <mat-card-header>
        <mat-card-title>Cliente</mat-card-title>
    </mat-card-header>
    <form #form="ngForm" class="form-datos" [formGroup]="addClientForm">
        <mat-form-field class="input-data">
            <input matInput placeholder="Nombres" formControlName="nombres" required="true">
        </mat-form-field>

        <mat-form-field class="input-data">
            <input matInput placeholder="Apellidos" formControlName="apellidos" required="true">
        </mat-form-field>

        <mat-form-field class="input-data">
            <input type="number" matInput placeholder="Cedula De Identidad" formControlName="identificacion"
                required="true">
        </mat-form-field>

        <mat-form-field class="input-data">
            <input type="number" matInput placeholder="Teléfono" formControlName="telefono" required="true">
        </mat-form-field>


        <mat-form-field class="input-data">
            <input type="number" matInput placeholder="Teléfono Adicional" formControlName="telefono2"
                required="true">
        </mat-form-field>

   

        <mat-form-field class="input-data">
            <input matInput placeholder="Ocupación" formControlName="ocupacion" required="true">
        </mat-form-field>

        <mat-form-field class="input-data">
            <input matInput placeholder="Referido por" formControlName="referido" required="true">
        </mat-form-field>


        <mat-form-field class="input-data">
            <input matInput placeholder="Email" formControlName="email" required="true">
        </mat-form-field>


        <mat-form-field class="input-data">
            <textarea matInput placeholder="Domicilio" formControlName="direccion" required="true"></textarea>
        </mat-form-field>

               
        <mat-form-field class="input-data">
            <textarea matInput placeholder="Motivo de la Consulta" formControlName="motivoConsulta" required="true"></textarea>
        </mat-form-field>

        <mat-card-actions style="text-align: center;">

            <button mat-raised-button type="submit" color="primary" class="Update-btn"
                (click)="cliente.id ?  onUpdateClient():onAddClient()"> {{cliente.id ? 'Actualizar':'Guardar'}}
            </button>

            <button mat-raised-button type="button" class="Discard-btn" (click)="openDialog()">Cancelar</button>
        </mat-card-actions>

    </form>


</mat-card>