

.bg-img{
    background-image: url("../../assets/fondo_login.jpg") !important;
    min-height: 380px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    height: 100%;
    /* min-height: 1024px; */
    position: absolute;
    bottom: 0;
    width: 100%;

}

body, html{
    height: 100%;
}


* {
  box-sizing: border-box;
}

.container-login{
   position: absolute;
   right: 3%;
   margin: 20px;
   max-width: 420px;
   width: 500px;
   padding: 16px;
   background-color: white;
   filter: brightness(100%);
}

.form-login {
    display: grid;
    padding: 2.5rem;
}

.login-title{
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}

.button-submit-login {
    width: 100%;
    font-size: 14px;
    font-weight: 500;
}


@media(min-width:950px) {
    
/* .container-login{
   max-width: 450px;
} */


}