
.container-login{
    margin: 0 auto;
}

.form-login {
    display: grid;
    padding: 1.7rem;
}

.login-title{
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}

.button-submit-login {
    width: 100%;
    font-size: 14px;
    font-weight: 500;
}


@media(min-width:950px) {
    
.container-login{
   max-width: 450px;
}


}