<section class="container-login" *ngIf="!isLoggedIn">
	<mat-card>
		<mat-toolbar  color="primary">
			<h3 class="login-title">Bienvenido al Sistema</h3>
		</mat-toolbar>
		<form role="form" (ngSubmit)="login()" #loginForm="ngForm" *ngIf="!isLoggedIn" class="form-login">

           <mat-form-field class="form-group-login">
			<input matInput type="text"  id="username" name="username" [(ngModel)]="credentials.username"
			required #username="ngModel" placeholder="Username"/>
	         </mat-form-field>

			 <div [hidden]="username.valid || username.pristine" class="alert alert-danger">
				* Campo requerido
			</div>
			<mat-form-field class="form-group-login">
				<input matInput type="password"  id="password" name="password" placeholder="Password"
					[(ngModel)]="credentials.password" required #password="ngModel" />
			</mat-form-field>
			<div [hidden]="password.valid || password.pristine" class="alert alert-danger">
				* Campo requerido
			</div>
			<button type="submit" class="button-submit-login"  
			mat-raised-button color="primary"
				[disabled]="!loginForm.form.valid">Login</button>

			<div class="form-group" class="alert alert-danger" style="margin-top: 1rem;" role="alert"
				*ngIf="loginForm.submitted && isLoginFailed">
				Login faile: {{errorMessage}}
			</div>
		</form>
	</mat-card>
</section>