<!-- <button (click)="nueva()">Nueva</button> -->

<h1>Welcome {{title}}!</h1>
<div class="mat-elevation-z8">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id Factura</th>
        <th scope="col" sortable="name">Cliente</th>
        <th scope="col" sortable="name">Numero Factura</th>
        <th scope="col" sortable="area">Fecha</th>
        <th scope="col" sortable="population">Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of allFacturas">
        <th scope="row">{{ item.idFactura }}</th>
        <td>
          {{ item.nombreCliente }}
        </td>
        <td>{{ item.numeroFactura}}</td>
        <td>{{ item.fechaEmision | date }}</td>
        <td>{{ item.totalFactura | number }}</td>
      </tr>
    </tbody>
  </table>
</div>