
<mat-toolbar color="primary" style="justify-content: end"  *ngIf="isLoggeIn">
        
    <small  style="align-items: right">
      <mat-icon style="vertical-align: middle">photo_camera</mat-icon>
      
      &nbsp;
      {{ username }}

      <!-- <a 
      ><mat-icon>exit_to_app</mat-icon></a
    > -->
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon><span class="material-symbols-outlined">
            manage_accounts
            </span></mat-icon>
          <span>Perfil</span>
        </button>
        <button mat-menu-item>
          <mat-icon><span class="material-symbols-outlined">
            lock
            </span></mat-icon>
          <span>Cambiar Password</span>
        </button>
        <button mat-menu-item  (click)="logout()">
          <mat-icon><span class="material-symbols-outlined">
            exit_to_app
            </span></mat-icon>
          <span>LogOut</span>
        </button>
        <!-- <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Disable alerts</span>
        </button> -->
      </mat-menu>
      </small>
    <button
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="drawer.toggle()"
      *ngIf="(isHandset$ | async)"
    >
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
  </mat-toolbar>


<mat-sidenav-container class="app-container">
    <mat-sidenav
      #drawer
      class="app-sidenav"
      fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false && isLoggeIn"
      style=" min-height: 100vh;"  >
      
      <mat-toolbar  > <mat-icon>    <span class="material-symbols-outlined">
        streetview
        </span></mat-icon>&nbsp; SofS</mat-toolbar>
      <mat-nav-list  >

        <mat-expansion-panel [class.mat-elevation-z0]="true"  *ngIf="showMenuSecurity">
            <mat-expansion-panel-header>
                 Configuraciones
            </mat-expansion-panel-header>
            <mat-nav-list class="listaop">
             <a  routerLink="/maestros"  class="list-item-bar"
                ><mat-icon><span class="material-symbols-outlined">
                  category
                  </span></mat-icon>&nbsp; Categorias</a>
              <a class="list-item-bar" routerLink="/detalles"
                ><mat-icon><span class="material-symbols-outlined">
                  sell
                  </span></mat-icon>&nbsp; Etiquetas</a
              >
              <a class="list-item-bar" routerLink="/establecimiento">
                <mat-icon><span class="material-symbols-outlined">
                  storefront
                  </span></mat-icon>&nbsp;Establecimiento</a
              >
              <a class="list-item-bar" routerLink="/usuarios">
                <mat-icon><span class="material-symbols-outlined">
                  group
                  </span></mat-icon>&nbsp;Usuarios</a
              >
            </mat-nav-list>
        </mat-expansion-panel>

<!-- mat-list-item -->
        <mat-expansion-panel [class.mat-elevation-z0]="true" *ngIf="showMenuConsultory">
            <mat-expansion-panel-header>
                 Trabajo
            </mat-expansion-panel-header>
            <mat-nav-list class="listaop">
                <a  class="list-item-bar" routerLink="/clientes">
                    <mat-icon>account_box</mat-icon> &nbsp;Clientes</a
                  >
                  <a class="list-item-bar" routerLink="/productos">
                    <mat-icon><span class="material-symbols-outlined">
                      inventory_2
                      </span></mat-icon>&nbsp;Servicios</a
                  >
            </mat-nav-list>
        </mat-expansion-panel>

  
     
        
        <mat-expansion-panel [class.mat-elevation-z0]="true" *ngIf="showMenuFinance">
            <mat-expansion-panel-header>
                Financiero
            </mat-expansion-panel-header>
            <mat-nav-list class="listaop">
                <a  class="list-item-bar" routerLink="/vista-factura">
                    <mat-icon><span class="material-symbols-outlined">
                      calculate
                      </span></mat-icon> &nbsp; Presupuestos</a
                  >
                  <a  class="list-item-bar" routerLink="/creacion-factura">
                    <mat-icon><span class="material-symbols-outlined">
                      payments
                      </span></mat-icon>&nbsp; Pagos</a
                  >
            </mat-nav-list>
        </mat-expansion-panel>
  
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content  class="sidenav-content">
      <!-- Add Content Here -->
   
        <!-- Components open here -->
        <div class="app-sidenav-content">
            <router-outlet></router-outlet>
        </div>
      
    </mat-sidenav-content>
  </mat-sidenav-container>
  

  