<!-- <div class="main">
 <h1>My To Do List</h1>
  <h2>What would you like to do today?</h2>

  <ul>
    <li *ngFor="let item of items">{{item.description}}</li>
  </ul>
</div> -->

<!-- <mat-slider min="1" max="100" step="1" value="50"></mat-slider>
<div class="main">
  <h4>Factura</h4>
 <h5>Nro. Factu&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Total</h5>
    <div *ngFor="let item of allFacturas">{{item.numeroFactura}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{item.totalFactura}}</div>
</div> -->
<app-app-nav></app-app-nav>

