<!-- <h1 mat-dialog-title>Esta seguro de eliminar el registro?</h1>
<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]>Cancel</button>
    <button class="delete-button" mat-button [mat-dialog-close]="true">Delete</button>
</div> -->



<div style="padding: 2rem;">
    <p style="font-size: 1rem; text-align: center;">Esta seguro de eliminar el registro?</p>
    <div class="btn-actions">
      <button mat-raised-button color="primary" mat-button [mat-dialog-close]>Cancel</button>
      <button mat-raised-button class="delete-button" mat-button [mat-dialog-close]="true">Eliminar</button>
    </div>
    </div>