
<mat-tab-group>
  <mat-tab label="Egresos">
<div class="container-page">
  <div class="page-header">
    <button mat-button class="primary newButton" (click)="new()">
        <mat-icon>add</mat-icon> Nuevo
    </button>
    </div>
    <div class="salidaTitle"><h3>Salidas</h3> <h3>Total: {{sumaSalidas | currency:'USD':true:'1.2-2'}}</h3></div>
    <mat-table [dataSource]="dataSourceSalidas" matSort>
  
     <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
     <mat-row  *matRowDef="let row; columns: displayedColumns; ; let i = index"></mat-row>
     <ng-container  matColumnDef="precio">
         <mat-header-cell *matHeaderCellDef mat-sort-header> Precio </mat-header-cell>
         <mat-cell [style.color]="row.precio>1000 ? 'red':'green'" *matCellDef="let row" data-label="precio"> {{row.precio | currency:'USD':true:'1.2-2' }} </mat-cell>
     </ng-container>
  
     <ng-container matColumnDef="concepto">
         <mat-header-cell *matHeaderCellDef mat-sort-header> Concepto </mat-header-cell>
         <mat-cell *matCellDef="let row" data-label="concepto"> {{row.concepto}} </mat-cell>
     </ng-container>
  
     <ng-container matColumnDef="createdDate">
         <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Creacion </mat-header-cell>
         <mat-cell *matCellDef="let row" data-label="concepto"> {{row.createdDate | date :'dd/MM/yyyy, HH:mm a'}} </mat-cell>
     </ng-container>
     <ng-container matColumnDef="actions">
         <mat-header-cell *matHeaderCellDef > Actions </mat-header-cell>
         <mat-cell *matCellDef="let row">
           <button mat-icon-button (click)="openEditItem(row)"> <mat-icon  >edit</mat-icon></button>
           <button mat-icon-button (click)="deleteItem(row)" color="warn" aria-label="Delete">
             <mat-icon>delete</mat-icon>
           </button>
         </mat-cell>
       </ng-container>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[50, 100]"></mat-paginator>
  </div>
  </mat-tab>
  <mat-tab label="Grafica">
  </mat-tab>
  </mat-tab-group>