/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; font-size: 32px; }
/* .cdk-overlay-dark-backdrop {
    background: #3002309e;
} */


mat-sidenav-content{

    padding: 20px;;
    padding-top: 10px;;
}

.custom-snackbar {

    .mat-mdc-snack-bar-container .mdc-snackbar__surface {
      border-radius: 8px !important;
    }

    .mat-mdc-button.mat-mdc-snack-bar-action {
      color: white !important;
    }
    
  }

.snackbar-error {
    
    .mdc-snackbar__surface {
      background-color: red !important;
    }
  
    .mdc-snackbar__label {
      color: white !important;
    }
  }


  .snackbar-success {
    .mdc-snackbar__surface {
      background-color: var(--color-primary) !important;
    }
  
    .mdc-snackbar__label {
      color: white !important;
    }
  }