/* You can add global styles to this file, and also import other style files */

:root{
  --theme-color: white;
  /* --primary-color: rgb(0, 107, 200); */
  --primary-color: #124f88;
  --secondary-color: #f7c331;
  --text-color-inverse: white;
  --text-color: black;
  --navbar-shallow-color: #e5e5e5;
  --menu-mobile-background-color: #3A4460;
}

.newButton{
  margin: 15px 0px 15px 0px;
  background-color: var(--primary-color);
  color:var(--text-color-inverse) !important;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; font-size: 12px; }
/* .cdk-overlay-dark-backdrop {
    background: #3002309e;
} */


.header-modal{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
  gap: 5px;
  margin-right: 10px;

}






mat-sidenav-content{

    /* padding: 20px;;
    padding-top: 10px;; */
}

.custom-snackbar {

    .mat-mdc-snack-bar-container .mdc-snackbar__surface {
      border-radius: 8px !important;
    }

    .mat-mdc-button.mat-mdc-snack-bar-action {
      color: white !important;
    }
    
  }

.snackbar-error {
    
    .mdc-snackbar__surface {
      background-color: red !important;
    }
  
    .mdc-snackbar__label {
      color: white !important;
    }
  }


  .snackbar-success {
    .mdc-snackbar__surface {
      background-color: var(--color-primary) !important;
    }
  
    .mdc-snackbar__label {
      color: white !important;
    }
  }

  .snackbar-warn {
    .mdc-snackbar__surface {
      background-color: var(--color-seconday) !important;
    }
  
    .mdc-snackbar__label {
      color: white !important;
    }
  }


  .header-screen{
    display:flex;
    flex-direction:row;
    justify-content: start;
    align-items: center;
    font-size: 1rem;
    padding-left: 0rem;
    gap: 1rem;
  }

  
.filter {
  flex: 2;
}
